
<br>
<section class="section">
  <div class="row">
    <div class="col m6 offset-m3 s12">
      <div class="card-panel">
        <div class="row">
          <div class="col s12">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

                 <div class="row">
                 <div class ="col s12 m12 lg12">
                <!-- <i class="material-icons prefix">email</i> -->
                <!-- <i class="mdi-communication-email prefix"></i> -->
                   <%= f.label :email %>
                <%= f.email_field :email, autofocus: true %>
            
              </div>
              </div>
                 <div class="row">
                 <div class ="col s12 m12 lg12">
                        <%= f.label :username %>
                <%= f.text_field :username, autofocus: true %>
           
              </div>
                 </div>
      <div class="row">
                 <div class ="col s12 m12 lg12">
               
                <%= f.label :password %>
                 <%= f.password_field :password, autocomplete: "off" %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
              </div>
                 </div>

                <div class="row">
                 <div class ="col s12 m12 lg12">
               
                <%= f.label :password_confirmation %>
                 <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>
                 </div>
              
               <div class="row">
                 <div class ="col s12 m12 lg12">
                <%= f.label :curso_id %>
                <%@curso = Curso.where('codigo in ("186140","196120","195140","112140")').all.order(:nome)%>
               <%=collection_select(:user, :curso_id,@curso , :id, :nome, { }, { class: 'js-searchable' })%>
              </div> 
                  </div> 
              
                   <div class="row">
                 <div class ="col s12 m12 lg12">
                <%= f.submit "Cadastrar", class: 'btn waves-effect waves-light light-blue' %>
              </div>
                </div>

              <div class="input-field">
                <%= render "devise/shared/links" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<script>

     $(".js-searchable").select2({
         placeholder: "Escolha um Curso",
         allowClear: true,
         width:"100%"
     
     });
 
</script>