<nav class="nav-extended light-blue darken-4">
    <div class="nav-wrapper container">
   <a href="/" class="brand-logo hide-on-small-only"> <%= image_tag "logo.png"%></a>

      <ul class="right hide-on-med-and-down ">
         <% if user_signed_in? %>
          <ul id="dropdown3" class="dropdown-content">
              <% user = Digest::SHA2.new << current_user.username+ENV['CHAVE'] 
                @usuarios = Usuario.where("username=:username",{username:user.to_s}).all
                @usuarios.each do |usuario| %>
                 <li><%= link_to 'Editar Perfil', perfil_usuario_path(usuario), :class => 'navbar-link' %></li>
               <% end %>
             
               <li class="divider"></li>
                <li><a href="<%=comentars_url%>" >Meus Comentários</a></li>
                <li><a href="<%=avaliacaoprofs_url%>" >Minhas Avaliações</a></li>
              <li class="divider"></li>
              <li> <%= link_to('Sair', destroy_user_session_path, method: :delete) %> </li>
           </ul>
           <div class="col s3 push-s2">
             <a href="#" class="dropdown-button white-text text-lighten-3" data-target="dropdown3"><i class="fas fa-user-circle fa-1x"></i> <%= current_user.username %> <i class="material-icons right">arrow_drop_down</i></a></li>
           </div>
         <%else%>
           <a href="/users/sign_in" ><i class="material-icons white-text">person_pin</i></a>
         <%end%>  
       </ul>    
       
        <!-- MENU MOBILE -->
        <ul id="nav-mobile" class="sidenav">
            <li class="light-blue darken-4">
                <div class="row">
                    <div class="col s10">
                        <a href="/" class="subheader white-text">SICAD-UFBA</a>
                    </div>
                    <div class="col s2 " >
                        <a class="sidenav-close right">
                            <i style="height: 48px; line-height: 48px; margin-left: -0.75rem; cursor: pointer;" class="material-icons right white-text">close</i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                  <% if user_signed_in? %>
                      <li class="padding-collapsible"><a href="<%=comentars_url%>" >Meus Comentários</a></li>
                      <li class="padding-collapsible"><a href="<%=avaliacaoprofs_url%>" >Minhas Avaliações</a></li>
                      <li class="divider"></li>
                      <p><liclass="padding-collapsible"><a href="/logout" >Sair</a></li>
                  <%else%>
                      <li class="padding-collapsible"><a href="/users/sign_in">Entrar</a></li>
                  <%end%>
                </ul>
            </li>
        </ul>
        <a href="" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons  white-text">menu</i></a>
    </div>

    <% if user_signed_in? %> 
      <%if can? :admin, User %>
        <div class="nav-content container">
         <ul id="dropdown2" class="dropdown-content">
              <li><a href="<%= crawlcurso_admin_path(0) %>">Cursos</a></li>
              <li><a href="<%= crawldisc_admin_path(0) %>" >Disciplinas</a></li>
              <li><a href="<%= crawlprof_admin_path(0) %>" >Professor</a></li>
              <li><a href="<%= crawltitle_admin_path(0) %>" >Título</a></li>
         </ul>
         
         <ul id="dropdown1" class="dropdown-content">
              <li> <%= link_to 'Restrição ', restricaos_path, :class => 'navbar-link' %> </li>
              <li> <%= link_to 'Tag ', tags_path, :class => 'navbar-link' %> </li>
              <li> <%= link_to 'Perfil ', tipoperfils_path, :class => 'navbar-link' %> </li>
              <li> <%= link_to 'Avaliação ', config_avaliacaos_path, :class => 'navbar-link' %> </li>
         </ul>
         
         <ul id="dropdown4" class="dropdown-content">
              <li><a  href="/comentars/0/all">Comentarios</a></li>
              <li><a  href="/usuarios">Usuários</a></li>
              <li class="divider"></li>     
         </ul>
         
         <ul class="tabs tabs-transparent">
               <li class="right tab"><a href="" class="dropdown-button" data-target="dropdown1">Configurações<i class="material-icons right">arrow_drop_down</i></a></li>
               <li class="right tab"><a href="" class="dropdown-button" data-target="dropdown4">Auditoria<i class="material-icons right">arrow_drop_down</i></a></li>
               <li class="right tab"><a href="" class="dropdown-button" data-target="dropdown2">Carga<i class="material-icons right">arrow_drop_down</i></a></li> 
         </ul>
        </div>
      <%end%>
    <%end%>
</nav>

 <% if user_signed_in? %>
  <div class="row container">
    <%
     curso_id = 1
     user = Digest::SHA2.new << current_user.username+ENV['CHAVE'] 
     @usuarios = Usuario.where("username=:username",{username:user.to_s}).all

     @usuarios.each do |usuario| 
       curso_id = usuario.curso_id    
     end
     @curso = Curso.where("id =:curso_id",{curso_id:curso_id}).all 
     @curso.each do |curso| %>
       <br> <b>Curso: <%= curso.nome %> </b> 
    <% end %>

    <ul class="breadcrumbs">
     <%= render_breadcrumbs :tag=> :li, :separator => " > " %>
    </ul>
  </div>  
 <%end%> 
  
  
<script>
    $('.dropdown-button').dropdown({
          container: document.body,
          coverTrigger: false,
          closeOnClick: true
    }); 

    $( document ).ready(function() {
    $('.sidenav').sidenav();
     }); // end of document ready
</script>

