<%require "time"%>
<% if user_signed_in? %>

  <div class="container">
    <div class="row">
      
        <div class="col s12 m4 lg4">
          <div class="icon-block">
            <%= link_to demonstra_comentarios_path,class:'center blue-grey-text text-darken-1' do %>
               <center><i class="fas fa-comment-dots fa-4x"></i></center><p> 
            <%end%>
            <h6 class="center black-text"><b>Comentários</a> </b></h6>
          </div>
        </div>
        
        
        <div class="col s12 m4 lg4">
          <div class="icon-block">
              <%if (  formato_data_hora(Time.now) >= formato_data_hora(@config_avaliacao.data_inicio) ) and (formato_data_hora(Time.now) <= formato_data_hora(@config_avaliacao.data_fim))  then %>
                  <%= link_to new_avaliacaoprof_path,class:'center blue-text text-darken-4' do %>
                     <center><i class="fas fa-chalkboard-teacher fa-4x"></i></center><p> 
                  <%end%>
                    <h6 class="center black-text"><b>Avaliar</a> </b></h6>
                    <h10 class="center black-text"><center>A avaliação está disponível até <b><%=formato_data_hora(@config_avaliacao.data_fim)%><b></center> </h10>
              <%else%>
                   <center><i class="fas fa-chalkboard-teacher fa-4x"></i></center><p> 
                   <h6 class="center black-text"><b>Avaliar</a> </b></h6><p>
                   <h10 class="center black-text"><center>A avaliação ainda não está disponível! </center></a> </h10>
              <%end%>
           
          </div>
        </div>
        
        
        <div class="col s12 m4 lg4">
          <div class="icon-block">
            <%= link_to "/resultado_semestre",class:'center green-text text-darken-4' do %>
               <center><i class="fas fa-chart-area fa-4x"></i></center><p> 
            <%end%>
            <h6 class="center black-text"><b>Resultados</a> </b></h6>
          </div>
        </div>
         </div>
        
        <div class="row">
        <div class="col s12 m4 lg4">
          <div class="icon-block">
            <br>
            <%= link_to "/faq",class:'center red-text text-darken-4' do %>
               <center><i class="fas fa-question-circle fa-4x"></i></center><p> 
            <%end%>
            <h6 class="center black-text"><b>Ajuda </a> </b></h6>
          </div>
        </div>
    
        </div>

<%else%>    
<br><br>

  <div class="section">
    <h4 class="row col s12 m12 lg12 center black-text">Sistema Colaborativo de Avaliação dos Docentes</h4>
    <br>
      <div class="row center">
        <h5 class="header col s12 blue-text"> Pesquise. Avalie. Escolha. Colabore.</h5>
      </div>
      <div class="row center">
        <br>
        <a href="/users/sign_in" id="download-button" class="btn-large waves-effect waves-light light-blue darken-4 white-text">Começar</a>
      </div>
  </div>
  
   <div class="section">
      <div class="row">
        
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Colaboração</h5>
            <p class="light">  No SICAD-UFBA, sua avaliação tem visibilidade contribuindo diretamente para a experiência acadêmica de seus colegas.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">assignment</i></h2>
            <h5 class="center">Resultados</h5>
            <p class="light"> Através das experiências compartilhadas você pode escolher qual melhor turma para se matricular. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">description</i></h2>
            <h5 class="center">F.A.Q</h5>
            <p class="light">Através do FAQ você pode tirar qualquer dúvida que tem sobre a proposta do SICAD.  </p>
          </div>
        </div>

      </div>
     </div>
         
   

<%end%>  

<script>
  
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>