<%= form_for(config_avaliacao) do |f| %>
  <% if config_avaliacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(config_avaliacao.errors.count, "error") %> prohibited this config_avaliacao from being saved:</h2>

      <ul>
      <% config_avaliacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col s12 m8 lg8 offset-m2">
       <div class="card-panel ">
           <div class="row">
               <div class="col s12 m6 lg6">
                
                    <div class="row">
                      <div class="col s12 m6 lg6"><%= f.label :data_inicio %>  </div>
                      <div class="col s12 m6 lg6"> <%= f.datetime_select :data_inicio %>  </div>
                    </div> 
                
              </div>
            </div>
            <div class="row">
               <div class="col s12 m6 lg6">
                
                    <div class="row">
                      <div class="col s12 m6 lg6"><%= f.label :data_fim %>  </div>
                      <div class="col s12 m6 lg6"> <%= f.datetime_select :data_fim %>  </div>
                    </div> 
                
              </div>
            </div>
          
             <br>
             <div class="row">         
               <div class="col s12 m12 lg12 white-text"></div> <%= f.submit "OK", class: 'btn waves-effect waves-light light-blue' %> </div>
             </div>  
            <% end %>
       </div>
    </div>
 </div>











