<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   <div class="row">
     <div class="col s5 offset-s2"><%= f.label :professor_id, "E-mail" %></div> 
     <div class="row">
       <div class="col s5 offset-s2"><%= f.text_field :email, id: :email, :readonly=>true%></div>
     </div> 
   </div> 

   <div class="row">
     <div class="col s5 offset-s2"><%= f.label :username, "Username" %></div> 
     <div class="row">
      <div class="col s5 offset-s2"><%= f.text_field :username, id: :username,:readonly=>true %></div>
     </div> 
   </div> 

   <div class="row">         
       <div class="col s3 offset-s2">  <%= f.submit class: 'btn waves-effect waves-light light-blue darken-3' %>  </div>  
   </div>  
    
<% end %>