<p id="notice"><%%= notice %></p>

<div class="row">
 <div class="col s12 m8 lg9 offset-m2">
   <div class="card-panel ">
        <table class="striped">
          <thead>
            <tr>
              <% attributes.reject(&:password_digest?).each do |attribute| -%>
               <th><%= attribute.human_name %></th>
              <% end -%>
              <th colspan="2"></th>
            </tr>
          </thead>
        
          <tbody>
            <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
              <tr>
                <% attributes.reject(&:password_digest?).each do |attribute| -%>
                    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
                <% end -%>
                <td class="actions">
                    
                 <%%= link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: '' do %>
                   <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Editar">edit</i>  
                  <%% end%>
                 <%%= link_to <%= singular_table_name %>, method: :delete, data: { confirm: 'Você tem Certeza?'}, class: '' do %>
                    <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Deletar" >delete</i> 
                 <%%end%>
                 
                </td>
              </tr>
            <%% end %>
          </tbody>
        </table>
        
        <!--
          <div class="row">
           <div class="col s12 m6 lg6 offset-m3 offset-m4">
             <%%= will_paginate %>
          </div>
          </div> -->
        
          
          <div class="row">         
           <div class="col s12 m6 lg6"> 
             <%%= link_to 'Adicionar <%= singular_table_name.titleize %>', new_<%= singular_table_name %>_path, class: 'btn waves-effect waves-light light-blue'  %>
           </div>
          </div>
 
    </div>
  </div>
</div>
   
<script>
$('.tooltipped').tooltip();
</script>