<%= form_for(avaliacao) do |f| %>
  <% if avaliacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(avaliacao.errors.count, "error") %> prohibited this avaliacao from being saved:</h2>

      <ul>
      <% avaliacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="container">
<table class="responsive">
<tbody>
   
 <div class="field">
   <%= f.hidden_field:user_id,:value =>current_user.id %>
 </div>
 
 <tr>
   <th> <%= f.label :professor_id %></th>
   
   <th> <%= collection_select(:avaliacao, :professor_id, @professor, :id, :nome, {}, { class: 'browser-default' })%></th>
 </tr> 
 

</tbody>
</table>


<table class="responsive">
 <thead>
    <tr>
      <th>Item</th>
      <th>Avaliação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
 <% @item = Itemavaliacao.all 
 @item.each do |item| %>
            
  <tr>
    
  <th> <%= item.item %></th>
   <div class="input-field">
    <th><label> <%= f.radio_button :resp_positiva, 1, id:"k"  %> <span> Legal </span></label>
    <th><label> <%= f.radio_button :resp_positiva, 2, id:"k1"  %> <span> Ruim </span></label>
  </th>
  
 
   </div>
  </tr> 

<% end %>
 </tbody>
</table>


<br>
<br>
 <%= f.submit class: 'btn waves-effect waves-light light-blue darken-3' %>
</div>   
  
<% end %>

<script>

(document).ready(function() {
  ('select').material_select();
});

</script>




<style>
 
[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:before,
 
[type="radio"].with-gap:checked + span:after {
 
  border: 2px solid #ef5350;
 
}
 
 
 
[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:after {
 
  background-color: #ef5350;
 
}
 
</style>


