
 <p id="notice"><%= notice %></p>

  1
  1
  11
  1
  1
  
  
  <div class="container">
<table>
  <thead>
    <tr>
     <th>Disciplina</th>
     <!--<th>Professor</th>
     <th>Semestre</th>-->
     <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentarios_disciplina| %>
      <tr>
        <td><%= comentarios_disciplina.disciplina%></td>
        <td><%= comentarios_disciplina.professor %></td>
        <td><%= comentarios_disciplina.comentario %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<%= @comentarios_disciplina.disciplina%>
    <%= @ccomentarios_disciplina.professor %>
    <%= @ccomentarios_disciplina.comentario