

<div class="row">
<div class="col s12 m8 lg9 offset-m2">
 <div class="card-panel ">

<table class="striped">
  <thead>
    <tr>
      <th>Palavra</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @restricaos.each do |restricao| %>
      <tr>
         <td><%= restricao.palavra %></td>
         <td class="rigth actions">
      
             <%= link_to restricao,:confirm => "Você tem ceretza?", :method => :delete, class:' '  do %>
                <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Deletar" >delete</i> 
             <%end%>
             <%= link_to edit_restricao_path(restricao),class:'' do %>
                <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Editar">edit</i>  
             <%end%>
       
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col s12 m6 lg6 offset-m3 offset-m4">
     <%= will_paginate @restricaos %>
  </div>
</div> 

  
  <div class="row">         
   <div class="col s12 m6 lg6"> 
 <%= link_to 'Adicionar', new_restricao_path,  class: 'btn waves-effect waves-light light-blue' %>

</div>
</div>

</div>
</div>
</div>
   
<script>
$('.tooltipped').tooltip();
</script>