<p id="notice"><%= notice %></p>

<br>
<h6 class="header center red-text">Palavras Restritivas</h6>


<div class="container">
<table class="striped">
  <thead>
    <tr>
      <th>Palavra</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @restricaos.each do |restricao| %>
      <tr>
         <td><%= restricao.palavra %></td>
         <td class="actions">
           <%= link_to 'Editar', edit_restricao_path(restricao) %>
           <%= link_to 'Deletar', restricao, method: :delete, data: { confirm: 'Você tem Certeza?'}%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col s12 m6">
     <%= will_paginate @restricaos %>
  </div>
</div> 
<br>
 <%= link_to 'Adicionar Restricao', new_restricao_path, class: 'btn waves-effect waves-light light-blue darken-3' %>
</div>


