<%= form_for(itemavaliacao) do |f| %>
  <% if itemavaliacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(itemavaliacao.errors.count, "error") %> prohibited this itemavaliacao from being saved:</h2>

      <ul>
      <% itemavaliacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 
 
 <div class="container">
<table class="responsive">
<tbody>
   
 <tr>
   <th> <%= f.label :item %></th>
   <th> <%= f.text_field :item %></th>
  </tr> 

 </tbody>
</table>
    <%= f.submit class: 'btn waves-effect waves-light light-blue darken-3' %>
</div>   
  
<% end %>





