<div class="row">
  <div class="col s12 m10 offset-m1 ">
   
         <% @disciplina.each do |disciplina| %>
         
            <% 
             professor = disciplina.professor_id
             disciplinacurso_id = disciplina.disciplinacurso_id
             
             @dominio_conteudo_positivo = Avaliacaoprof.select("count(dominio_conteudo) as conteudo")
                                                      .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and dominio_conteudo = 1",{professor_id: professor,disciplinacurso_id: disciplinacurso_id}).all
             @dominio_conteudo_negativo = Avaliacaoprof.select("count(dominio_conteudo) as conteudo")
                                                     .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and dominio_conteudo = 2",{professor_id: professor,disciplinacurso_id: disciplinacurso_id}).all
                                                      
             @relacionamento_positivo = Avaliacaoprof.select("count(relacionamento_alunos) as relacionamento")
                                                      .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and relacionamento_alunos = 1",{professor_id: professor,disciplinacurso_id: disciplinacurso_id}).all
             @relacionamento_negativo = Avaliacaoprof.select("count(relacionamento_alunos) as relacionamento")
                                                      .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and relacionamento_alunos = 2",{professor_id: professor,disciplinacurso_id: disciplinacurso_id}).all
             @possui_didatica_positivo = Avaliacaoprof.select("count(possui_didatica) as didatica")
                                                       .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and possui_didatica = 1",{professor_id: professor,disciplinacurso_id: disciplinacurso_id}).all
             @possui_didatica_negativo = Avaliacaoprof.select("count(possui_didatica) as didatica")
                                                       .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and possui_didatica = 2",{professor_id: professor,disciplinacurso_id: disciplinacurso_id}).all
             
             @tags_associadas = Avaliacaoprof.select("tags.tag, count(tags.tag) as qtd_tag")
			                                 .joins("join avaliacaotags on avaliacaotags.avaliacaoprof_id = avaliacaoprofs.id")
											 .joins("join tags on tags.id = avaliacaotags.tag_id")
                                             .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id ",{professor_id: professor,disciplinacurso_id: disciplinacurso_id}).all
                                             .group("tags.tag").all	
              %>  
             <div class="card-panel">
                 <div class="row">
                   <div class="col s12 m12 lg12"><h7><b><%=disciplina.nome%><hr></b></h7></div>
                 </div>
                 <div class="row">
                   <div class="col s12 m12 lg12"><b><h8>Qtd Avaliações:</b> <%=disciplina.qtd_avaliacoes%><h8></div>
                 </div>
                 <div class="row">
                    <div class="col s12 m3 lg3"><b><h8>Dominio Conteudo:</b></h8></div>
                         <% @dominio_conteudo_positivo.each do |dominio| %>
                           <div class="col s4 m1 lg1"><i class="fas fa-thumbs-up fa-2x green-text"></i> <%=dominio.conteudo%></div>
                        <% end    %>  
                        <% @dominio_conteudo_negativo.each do |dominio2|%>
                           <div class="col s4 m1 lg1"><i class="fas fa-thumbs-down fa-2x red-text"></i> <%=dominio2.conteudo%></div>
                        <% end    %>
                 </div>
                 <div class="row">
                    <div class="col s12 m3 lg3"><b><h8>Relacionamento Alunos:</b></h8></div>
                        
                         <%@relacionamento_positivo.each do |relacionamento| %>
                           <div class="col s4 m1 lg1"><i class="fas fa-thumbs-up fa-2x green-text"></i> <%=relacionamento.relacionamento%></div>
                        <% end    %>  
                        <% @relacionamento_negativo.each do |relacionamento|%>
                           <div class="col s4 m1 lg1"><i class="fas fa-thumbs-down fa-2x red-text"></i> <%=relacionamento.relacionamento%></div>
                        <% end    %>
                </div>
                <div class="row">
                    <div class="col s12 m3 lg3"><b><h8>Didatica:</b></h8></div>
                         
                              <%@possui_didatica_positivo.each do |didatica| %>
                           <div class="col s4 m1 lg1"><i class="fas fa-thumbs-up fa-2x green-text"></i> <%=didatica.didatica%></div>
                        <% end    %>  
                        <% @possui_didatica_negativo.each do |didatica|%>
                           <div class="col s4 m1 lg1"><i class="fas fa-thumbs-down fa-2x red-text"></i> <%=didatica.didatica%></div>
                        <% end    %>
                
                 </div>
                 
                 
			    <div class="row">
                  <div class="col s12 m3 lg3"><b><h8>Tag Associadas</b></h8></div>  
                  <%@tags_associadas.each do |tag| %>
                          <div class="col"> 
                             <div s2 m2 class="chip" >
                             <qtd> <center><b><%=tag.qtd_tag%></b></center></qtd>  <%=tag.tag%> 
                             </div>
                          </div>
			 			  
                  <% end    %>
                </div>
			 
                <div class="row">
                       <div class="col s12 m3 lg3"><b><h8>Recomendação</b></h8></div>
                </div>
            </div>
         <%end%>
    </div>   
  </div>
 </div>   
 
 <style>

.chip {
  display: inline-block;
  padding: 0 25px;
}  
.chip qtd {
  float: left;
  margin: 0 5px 0 -26px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color:#a9a9a9;
}
</style>