<div class = "container">
 <%@professor.each do |professor|%>
 <h6><b>Docente: <%=professor.nome%></b></h6><hr class"hr">
 <%end%> 

<ul id="tabs-swipe-demo" class="tabs light-blue darken-4">
   <% 
   i = 0
   @semestre.each do |semestre| 
   i = i + 1 
   
   id ='#test-swipe-'+i.to_s%>
    <% if (i == 1) then %>
      <li class="tab light-blue darken-3 "><a class="active white-text " href="<%=id%>"><b> <%=semestre.ano%></b></a></li>
    <%else%>
     <li class="tab light-blue darken-3 "><a href="<%=id%>" class="white-text"><b> <%=semestre.ano%></b></a></li>
 
    <%end%> 
   <%end%>
  </ul>
  
   <% 
   i = 0
   @semestre.each do |semestre| 
   i = i + 1%>
   <%    @disciplina = Avaliacaoprof.select("disciplinas.nome,avaliacaoprofs.professor_id,disciplinas.codigo, disciplinas.id as disciplina_id, count(disciplinas.nome)as qtd_avaliacoes, cast(semestres.ano as char(4))||cast(semestres.codigo as char(1)) as ano, disciplinacursos.id as disciplinacurso_id,avaliacaoprofs.semestre_id as semestre_id")
                                    .joins("JOIN disciplinacursos ON disciplinacursos.id = avaliacaoprofs.disciplinacurso_id" )
                                    .joins("JOIN disciplinas ON disciplinas.id = disciplinacursos.disciplina_id" )
                                    .joins("JOIN semestres ON semestres.id = avaliacaoprofs.semestre_id" )
                                    .where("avaliacaoprofs.professor_id =:professor_id and cast(semestres.ano as char(4))||cast(semestres.codigo as char(1)) =:ano_semestre",{professor_id:params[:professor_id],ano_semestre:semestre.ano})
                                    .group("disciplinas.nome,avaliacaoprofs.professor_id, disciplinas.id,disciplinacursos.id,disciplinas.codigo, avaliacaoprofs.semestre_id, cast(semestres.ano as char(4))||cast(semestres.codigo as char(1))").all
                                    
      id= 'test-swipe-'+i.to_s                             
                                  %>
                                    
    <div id="<%=id%>" class="col s12 ">
   
     <% @disciplina.each do |disciplina| %>
         
            <% 
             professor = disciplina.professor_id
             disciplinacurso_id = disciplina.disciplinacurso_id
             
            @dominio_conteudo_positivo = Avaliacaoprof.select("count(dominio_conteudo) as conteudo")
                                                      .joins("JOIN semestres ON semestres.id = avaliacaoprofs.semestre_id" )
                                                      .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and dominio_conteudo = 1 and cast(semestres.ano as char(4))||cast(semestres.codigo as char(1))  =:ano_semestre",{professor_id: professor,disciplinacurso_id: disciplinacurso_id,ano_semestre: semestre.ano}).all
            @dominio_conteudo_negativo = Avaliacaoprof.select("count(dominio_conteudo) as conteudo")
                                                      .joins("JOIN semestres ON semestres.id = avaliacaoprofs.semestre_id" )
                                                      .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and dominio_conteudo = 2 and cast(semestres.ano as char(4))||cast(semestres.codigo as char(1))  =:ano_semestre",{professor_id: professor,disciplinacurso_id: disciplinacurso_id,ano_semestre: semestre.ano}).all
                                                      
             @relacionamento_positivo = Avaliacaoprof.select("count(relacionamento_alunos) as relacionamento")
                                                     .joins("JOIN semestres ON semestres.id = avaliacaoprofs.semestre_id" )
                                                     .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and relacionamento_alunos = 1 and cast(semestres.ano as char(4))||cast(semestres.codigo as char(1))  =:ano_semestre",{professor_id: professor,disciplinacurso_id: disciplinacurso_id,ano_semestre:semestre.ano}).all
            @relacionamento_negativo = Avaliacaoprof.select("count(relacionamento_alunos) as relacionamento")
                                                     .joins("JOIN semestres ON semestres.id = avaliacaoprofs.semestre_id" )
                                                     .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and relacionamento_alunos = 2 and cast(semestres.ano as char(4))||cast(semestres.codigo as char(1))  =:ano_semestre",{professor_id: professor,disciplinacurso_id: disciplinacurso_id,ano_semestre: semestre.ano}).all
            @possui_didatica_positivo = Avaliacaoprof.select("count(possui_didatica) as didatica")
                                                      .joins("JOIN semestres ON semestres.id = avaliacaoprofs.semestre_id" )
                                                      .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and possui_didatica = 1 and cast(semestres.ano as char(4))||cast(semestres.codigo as char(1))  =:ano_semestre",{professor_id: professor,disciplinacurso_id: disciplinacurso_id,ano_semestre: semestre.ano}).all
            @possui_didatica_negativo = Avaliacaoprof.select("count(possui_didatica) as didatica")
                                                      .joins("JOIN semestres ON semestres.id = avaliacaoprofs.semestre_id" )
                                                      .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and possui_didatica = 2 and cast(semestres.ano as char(4))||cast(semestres.codigo as char(1))  =:ano_semestre",{professor_id: professor,disciplinacurso_id: disciplinacurso_id, ano_semestre: semestre.ano}).all
             
            @tags_associadas = Avaliacaoprof.select("tags.tag, count(tags.tag) as qtd_tag")
			                                 .joins("join avaliacaotags on avaliacaotags.avaliacaoprof_id = avaliacaoprofs.id")
											 .joins("join tags on tags.id = avaliacaotags.tag_id")
                                             .joins("JOIN semestres ON semestres.id = avaliacaoprofs.semestre_id" )
                                             .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id  and cast(semestres.ano as char(4))||cast(semestres.codigo as char(1)) =:ano_semestre",{professor_id: professor,disciplinacurso_id: disciplinacurso_id,ano_semestre: semestre.ano}).all
                                             .group("tags.tag").all	
                                                                 
            @stars1 = Avaliacaoprof.select("count(recomendaria_professor) as stars1")
                     .joins("JOIN semestres ON semestres.id = avaliacaoprofs.semestre_id" )
                     .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and recomendaria_professor = 1 and cast(semestres.ano as char(4))||cast(semestres.codigo as char(1)) =:ano_semestre",{professor_id: professor,disciplinacurso_id: disciplinacurso_id, ano_semestre:semestre.ano}).all                                             
            
            @stars2 = Avaliacaoprof.select("count(recomendaria_professor) as stars2")
                     .joins("JOIN semestres ON semestres.id = avaliacaoprofs.semestre_id" )
                     .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and recomendaria_professor = 2 and cast(semestres.ano as char(4))||cast(semestres.codigo as char(1)) =:ano_semestre",{professor_id: professor,disciplinacurso_id: disciplinacurso_id, ano_semestre: semestre.ano}).all                                             
            @stars3 = Avaliacaoprof.select("count(recomendaria_professor) as stars3")
                     .joins("JOIN semestres ON semestres.id = avaliacaoprofs.semestre_id" )
                     .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and recomendaria_professor = 3 and cast(semestres.ano as char(4))||cast(semestres.codigo as char(1)) =:ano_semestre",{professor_id: professor,disciplinacurso_id: disciplinacurso_id, ano_semestre: semestre.ano}).all                                             
            @stars4 = Avaliacaoprof.select("count(recomendaria_professor) as stars4")
                     .joins("JOIN semestres ON semestres.id = avaliacaoprofs.semestre_id" )
                     .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and recomendaria_professor = 4 and cast(semestres.ano as char(4))||cast(semestres.codigo as char(1)) =:ano_semestre",{professor_id: professor,disciplinacurso_id: disciplinacurso_id, ano_semestre:semestre.ano}).all                                             
            
            @stars5 = Avaliacaoprof.select("count(recomendaria_professor) as stars5")
                     .joins("JOIN semestres ON semestres.id = avaliacaoprofs.semestre_id" )
                     .where("professor_id=:professor_id and disciplinacurso_id =:disciplinacurso_id and recomendaria_professor = 5 and cast(semestres.ano as char(4))||cast(semestres.codigo as char(1)) =:ano_semestre",{professor_id: professor,disciplinacurso_id: disciplinacurso_id, ano_semestre: semestre.ano}).all   
		    
		    	star_5=0
				star_4=0
				star_3=0
				star_2=0
				star_1=0	
				
              @stars1.each do |stars1| 
			     star_1 = stars1.stars1
			   end
			   @stars2.each do |stars2| 
			     star_2 = stars2.stars2
			   end
			 
			   @stars3.each do |stars3| 
			   star_3 = stars3.stars3
			   end
			 
			   @stars4.each do |stars4| 
			   star_4 = stars4.stars4
			   end
			 
			   @stars5.each do |stars5| 
			   star_5 = stars5.stars5
			   end
			   result5 = 0.00
			   result5 = (star_5 * 5).round(2)/disciplina.qtd_avaliacoes.round(2)
			   result4 = 0.00
			   result4 = (star_4 * 4).round(2)/disciplina.qtd_avaliacoes.round(2)
			   result3 = 0.00
			   result3 = (star_3 * 3).round(2)/disciplina.qtd_avaliacoes.round(2)
			   result2 = 0.00
			   result2 = (star_2 * 2).round(2)/disciplina.qtd_avaliacoes.round(2)
			   result1 = 0.00
			   result1 = (star_1 * 1).round(2)/disciplina.qtd_avaliacoes.round(2)
			   recomendacao_final = 0.00
			   recomendacao_final = result5+result4+result3+result2+result1 %>
          
                <div class="card-panel">
                 <div class="row">
                   <div class="col s12 m12 lg12"><h7><b><%=disciplina.codigo%> - <%=disciplina.nome%>  - <%=disciplina.ano%><hr></b></h7></div>
                 </div>
                 <div class="row">
                   <div class="col s12 m12 lg12"><b><h8>Qtd Avaliações:</b> <%=disciplina.qtd_avaliacoes%><h8></div>
                 </div>
                 <div class="row">
                    <div class="col s12 m4 lg4"><b><h8>Domínio Conteudo:</b></h8></div>
                         <% @dominio_conteudo_positivo.each do |dominio| %>
                           <div class="col s4 m1 lg1"><i class="fas fa-thumbs-up fa-2x green-text"></i> <%=dominio.conteudo%></div>
                        <% end    %>  
                        <% @dominio_conteudo_negativo.each do |dominio2|%>
                           <div class="col s4 m1 lg1"><i class="fas fa-thumbs-down fa-2x red-text"></i> <%=dominio2.conteudo%></div>
                        <% end    %>
                 </div>
                 <div class="row">
                    <div class="col s12 m4 lg4"><b><h8>Relacionamento com os Alunos:</b></h8></div>
                        
                         <%@relacionamento_positivo.each do |relacionamento| %>
                           <div class="col s4 m1 lg1"><i class="fas fa-thumbs-up fa-2x green-text"></i> <%=relacionamento.relacionamento%></div>
                        <% end    %>  
                        <% @relacionamento_negativo.each do |relacionamento|%>
                           <div class="col s4 m1 lg1"><i class="fas fa-thumbs-down fa-2x red-text"></i> <%=relacionamento.relacionamento%></div>
                        <% end    %>
                </div>
                <div class="row">
                    <div class="col s12 m4 lg4"><b><h8>Didatica:</b></h8></div>
                         
                        <%@possui_didatica_positivo.each do |didatica| %>
                           <div class="col s4 m1 lg1"><i class="fas fa-thumbs-up fa-2x green-text"></i> <%=didatica.didatica%></div>
                        <% end    %>  
                        <% @possui_didatica_negativo.each do |didatica|%>
                           <div class="col s4 m1 lg1"><i class="fas fa-thumbs-down fa-2x red-text"></i> <%=didatica.didatica%></div>
                        <% end    %>
                 </div>
                 
			   <div class="row">
                  <div class="col s12 m3 lg3"><b><h8>Tag Associadas</b></h8></div>  
                  <%@tags_associadas.each do |tag| %>
                          <div class="col"> 
                             <div s2 m2 class="chip" >
                             <qtd> <center><b><%=tag.qtd_tag%></b></center></qtd>  <%=tag.tag%> 
                             </div>
                          </div>
			 			  
                  <% end    %>
                </div>
			 
                <div class="row">
                  <div class="col s12 m3 lg3"><b><h8>Recomendação</b></h8></div>
					   
    					 <%   decimal=0
    					      decimal=recomendacao_final
                              decimal=decimal-decimal.to_i
    						  inteiro=0
    						  inteiro = Integer(recomendacao_final)%>   
    			
    				    <% if decimal<=0 then 
    					 (1..recomendacao_final).each do |i| %>
    					   <i class="fas fa-star fa-2x blue-text"></i>   
    					 <%end%>  
    					<%else %>
    						<%(1..inteiro).each do |i| %>
    						   <i class="fas fa-star fa-2x blue-text"></i>   
    						<%end%> 
    							<i class="fas fa-star-half-alt fa-2x blue-text"></i>  						
    					<%end%> 	
           </div>
           <div class="row">
              <div class="col s12 m5 lg5">     
			    <%= link_to todos_comentarios_path(:disciplina_id => disciplina.disciplina_id,:professor_id =>disciplina.professor_id,:semestre_id =>disciplina.semestre_id ),class:'' do %>
                     <h8 class="black-text"><b>Veja aqui os comentários</b></h8> <i class="fas fa-comment-dots fa-1x"></i>
                <%end%>	   
    		  </div>			
           </div>
         
     </div>
               
      <%end%>
   
    </div>
  
    <%end%>
 
</div>  
<script>
 $(document).ready(function(){
    $('.tabs').tabs();
  });
 
</script>
 
<style>

.chip {
  display: inline-block;
  padding: 0 25px;
}  
.chip qtd {
  float: left;
  margin: 0 5px 0 -26px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color:#a9a9a9;
}

.tabs .indicator {
    background-color: #000;
}    

</style>