 <div class="row">
 <div class="col s12 m9 lg9 offset-m2">
<div class="card-panel">
  
<% if @temequip == 0 %>
<p> Não existe nenhum comentário realizado. </p>
<br> 

<%else %>  
  
<div class="row">
  <div class="col s9 m8 lg8 ">
    <%= form_tag(demonstra_comentarios_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Infome a Disciplina"%>
  </div>
  <div class="col s2 m2 lg2" > 
     <%= button_tag(type: "submit", class: "btn waves-effect waves-light light-blue btn-small white-text") do %>
      <i class="material-icons white-text text-lighten-2 tooltipped">search</i> 
     <% end %>
  </div>
  <% end %>
</div>
  
<table class="striped">
  <thead>
    <tr>
      <th>Disciplina</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.nome%></td>
        <td class="actions">
         <%= link_to 'Comentários', mostra_comentar_path(0,:disciplina_id => comentario.disciplina_id ), class:'btn waves-effect waves-light light-blue btn-small white-text' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col s12 m6 lg6 offset-m3 offset-m4 ">
     <%= will_paginate @comentarios %>
  </div>
</div> 
<%end%>

 <div class="row">
   <div class="col s12 m1 lg1 ">
       <%= link_to 'Comentar', new_comentar_path, class: 'btn waves-effect waves-light light-blue white-text'  %> 
    </div>
 </div>    
</div> 
</div>
</div> 



 
