 <div class="row">
 <div class="col s12 m9 lg9 offset-m2">
<div class="card-panel">
  
<% if @temequip == 0 %>
<p> Não existe nenhum comentário realizado. </p>
<br> 

<%else %>  
  
<div class="row">
  <div class="col s8 m8 lg8 ">
    <%= form_tag(demonstra_comentarios_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Infome a Disciplina"%>
  </div>
  <div class="col s1 m1 lg1 " > 
     <%= button_tag(type: "submit", class: "btn waves-effect waves-light light-blue btn-small white-text") do %>
      <i class="material-icons white-text text-lighten-2 ">search</i> 
     <% end %>
  </div>
  <% end %>
</div>
  
<table class="striped" width="100%">
  <thead>
    <tr>
      <th>Disciplina</th>
      <th colspan="0"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr class="rows" data-href="<%=todos_comentarios_path(:disciplina_id => comentario.disciplina_id )%>">
        <td><%= comentario.nome%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col s12 m6 lg6 offset-m3 offset-m4 ">
     <%= will_paginate @comentarios %>
  </div>
</div> 
<%end%>

 <div class="row">
   <div class="col s12 m1 lg1 ">
       <%= link_to 'Comentar', new_comentar_path, class: 'btn waves-effect waves-light light-blue white-text'  %> 
    </div>
 </div>    
</div> 
</div>
</div> 



 
<script>
$(".rows").click(
  function(e){
    window.location.replace($(this).data('href'));
    return false;
  }
)
</script>

<style>
.rows {
cursor:pointer;
}
</style>
