<% require 'time'%>
<%= form_for(comentar) do |f| %>

  <% if comentar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comentar.errors.count, "error") %> prohibited this comentar from being saved:</h2>
      <ul>
      <% comentar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 <div class="row">
 <div class="col s12 m8 lg9 offset-m2">
  <div class="card-panel">
   <%@usuarios = Usuario.where("username=:username",{username:current_user.username}).all
    user_id=0
    @usuarios.each do |usuario| 
    user_id = usuario.id%>
     <%= f.hidden_field:user_id,:value =>user_id %>  
   <%end%> 
    
    <%= f.hidden_field:data_comentario,:value => DateTime.now   %>
    <%= f.hidden_field:denuncia,:value => 0   %>   
    <%= f.hidden_field:bloqueio,:value => false %> 
   <div class="row">
      <div class="col s12 m12 lg12">
          <b><%= f.label :disciplinacurso_id, "Disciplina" %></b>
          <%=collection_select(:comentar, :disciplinacurso_id, @disciplinacurso, :id, :nome,{:include_blank => true} , { class: 'js-searchable-d'})%>
      </div>
   </div>
    

   <div class="row">
      <div class="col s12 m12 lg12"> 
       <b><%= f.label :professor_id, "Professor" %></b>
       <%=collection_select(:comentar, :professor_id, @professor, :id, :nome,{:include_blank => true} , { class: 'js-searchable'} )%>
      </div>
   </div>
    
   
   <div class="row">
      <div class="col s12 m12 lg12"> 
          <b><%= f.label :semestre_id , "Semestre"%></b>
          <%=collection_select(:comentar, :semestre_id, @semestre, :id, :semestre,{:include_blank => true} , { class: 'js-searchable-s' })%>
      </div>
   </div>
    
 
  <div class="row">
      <div class="col s12 m12 lg12"> 
        <b><%= f.label :comentario, "Comentário" %></b>
        <%= f.text_area :comentario, placeholder: 'Informe sua experiência', class: 'materialize-textarea' %>
      </div>    
  </div>
    
  <br>
  
  <div class="row" id="d">         
   <div class="col s12 m6 lg6"> 
     <%= f.submit "COMENTAR", id:"a", class: 'btn waves-effect waves-light light-blue btn-small white-text' %>
   </div>  
  </div>  
  
<% end %>
</div>
</div>
</div>


<script>
  $(".js-searchable").select2({
         placeholder: "Informe o Professor",
         allowClear: true,
         width:"100%"
  });
  $(".js-searchable-d").select2({
         placeholder: "Informe a Disciplina",
         allowClear: true,
         width:"100%"
  });
  $(".js-searchable-s").select2({
         placeholder: "Informe o semestre",
         allowClear: true,
         width:"100%"
  });
     
 $('form').submit(function(e) { 
       
      var professor = jQuery('.js-searchable').val();
      var disciplina = jQuery('.js-searchable-d').val();
      var semestre = jQuery('.js-searchable-s').val();
      var comentario = jQuery('.materialize-textarea').val();
      if ((professor == '') || (disciplina == '')||(semestre == '')|| (comentario == '')) {
            e.preventDefault();
           if (professor == '') {
             alert('O campo professor é obrigatório!');
             e.stopPropagation();
           };
           
           if (disciplina == '') {
             alert('O campo disciplina é obrigatório!');
              e.stopPropagation();
           };
           if (semestre == '') {
             alert('O campo semestre é obrigatório!');
              e.stopPropagation();
           };
           
           if (comentario == '') {
             alert('O campo comentário está vazio!');
              e.stopPropagation();
           };
      } else {     
         e.currentTarget.submit();
      }
  });
 
</script>



