<% require 'time'%>
<%= form_for(comentar) do |f| %>
  <% if comentar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comentar.errors.count, "error") %> prohibited this comentar from being saved:</h2>

      <ul>
      <% comentar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   <%= f.hidden_field:user_id,:value =>current_user.id %>
   <%= f.hidden_field:data_comentario,:value =>Time.now %>
 <div class="row">
 <div class="col s12 m8 lg9 offset-m2">
          
  <div class="card-panel">
      
   <div class="row">
      <div class="col s12 m12 lg12">
          <b><%= f.label :disciplinacurso_id, "Disciplina" %></b>
          <%=collection_select(:comentar, :disciplinacurso_id, @disciplinacurso, :id, :nome, { }, { class: 'js-searchable-d' })%>
      </div>
   </div>
    

   <div class="row">
      <div class="col s12 m12 lg12"> 
       <b><%= f.label :professor_id, "Professor" %></b>
       <%=collection_select(:comentar, :professor_id, @professor, :id, :nome, { }, { class: 'js-searchable' })%>
      </div>
   </div>
    
   
   <div class="row">
      <div class="col s12 m12 lg12"> 
          <b><%= f.label :semestre_id , "Semestre"%></b>
          <%=collection_select(:comentar, :semestre_id, @semestre, :id, :semestre, { }, { class: 'js-searchable-s' })%>
      </div>
   </div>
    
 
     <div class="row">
      <div class="col s12 m12 lg12"> 
        <b><%= f.label :comentario, "Comentário" %></b>
        <%= f.text_area :comentario, placeholder: 'Informe sua experiência', class: 'materialize-textarea' %>
      </div>    
   </div>
    
   <br>
  
  <div class="row">         
   <div class="col s12 m6 lg6"> 
  
     <%= f.submit "COMENTAR", class: 'btn waves-effect waves-light light-blue' %>
   </div>  
  </div>  
  
<% end %>
</div>
</div>
</div>


<script>
     $(".js-searchable").select2({
         placeholder: "Informe o Professor",
         allowClear: true,
         width:"100%"
     });
 
  $(".js-searchable-d").select2({
         placeholder: "Informe a Disciplina",
         allowClear: true,
         width:"100%"
     });
      $(".js-searchable-s").select2({
         placeholder: "Informe o semestre",
         allowClear: true,
         width:"100%"
     });
</script>


