<p id="notice"><%= notice %></p>
<div class="container">

   <% @comentars.each do |comentar| %>
   
   <div class= "card">
      
      <div class="row">
        <br>
        <div class="col s12 m12 lg12 "><b><%= comentar.disciplinacurso.disciplina.nome %> </b></div>
      </div>
      
      <div class="row">
        <div class="col s6 m6 lg6"><b>Professor</b> <%= comentar.professor.nome  %></div>
         <div class="col s6 m6 lg6"><b>Data:</b><%=comentar.user.email  %> </div> 
         <div class="row">
                <div class="col s12 m12 lg12"><b>Usuário:</b><%=comentar.user.email  %> </div> 
         </div>        
       
           <div class="col s6 offset-s9 m2 offset-m10 lg2 offset-lg6">
                <div>  
                    <%= link_to comentar,:confirm => "Você tem ceretza?", :method => :delete, class:' '  do %>
                       <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Bloquear" >delete</i> 
                    <%end%>
                     <%= link_to edit_comentar_path(comentar),class:'' do %>
                      <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Mostrar">details</i>  
                    <%end%>
           </div>
        </div>
      </div>
      
   </div>
   <% end %>
</div>  
  
   
<script>
$('.tooltipped').tooltip();
</script>