  
<div class="container">

   <% if @comentars.empty? then %>
        
    <div class="row">
      <br>
       <h5><div class="col s8 m8 lg8 offset-m2 "><b>Não Existem Comentários</b></div></h5>
     </div>
     
   <%else%>
      <% @comentars.each do |comentar| %>
       <% if comentar.oculta == true then 
        status = "Comentário Ocultado"
      else
        status = "Comentário Público"
      end  
      %>
       <div class= "card">
          <div class="row">
            <br>
            <div class="col s12 m12 lg12 "><b><%= comentar.disciplinacurso.disciplina.nome %> </b></div>
          </div>
            
          <div class="row">
            <div class="col s6 m6 lg6"><b>Professor</b> <%= comentar.professor.nome  %></div>
             <div class="col s6 m6 lg6"><b>Data:</b><%=formato_data_hora(comentar.data_comentario)  %> </div> 
            <div class="col s12 m7 lg7"><b>Situação: </b><%=status%> </div>     
           
               <div class="col s6 offset-s9 m2 offset-m10 lg2 offset-lg6">
                    <div>  
                        <%= link_to comentar_path(comentar),class:'' do %>
                          <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Detalhes">details</i>  
                        <%end%>
                        <%= link_to ocultar_comentar_path(comentar),class:'' do %>
                          <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Ocultar">block</i>
                        <%end%>
                        <%= link_to mostrar_comentar_path(comentar),class:'' do %>
                          <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Mostrar">check</i>
                       <%end%>
               </div>
            </div>
          </div>
       </div>
       <% end %>
  <% end %>  
   
   
</div>  
  
   
<script>
$('.tooltipped').tooltip();
</script>