
<% if @comentarios_disciplina.empty? then %>
        
    <div class="row">
      <br>
       <h5><div class="col s8 m8 lg8 offset-m2 "><b>Não Existem Comentários</b></div></h5>
     </div>
     
<%else%>
<% @comentarios_disciplina.each do |comentarios_disciplina| %>
  <div class="row">
    <div class="col s12 m5 lg5 offset-m1">
    
      <div class="card">
            <div class="card-content">
               <span class="card-title activator grey-text text-darken-4"><%=  truncate(comentarios_disciplina.comentario, :length => 30)%><i class="material-icons right">more_vert</i></span>
               <div class= card-action>
                <div class="row">
                  <div class = "col">
                       <% curso = comentarios_disciplina.curso.split('-').first %>
                        <a href=""class="rodape black-text"><b>Curso:</b> <%=curso %></a>
                  </div> 
                  <div class = "col">
                        <a href=""class="rodape black-text"><b>Professor:</b> <%=comentarios_disciplina.nome %></a>
                  </div> 
                  <div class = "col"><a href=""class="rodape black-text"><b>Data:</b> <%= formato_data_hora(comentarios_disciplina.data_comentario) %></a></div> 
                  <div class = "col"><a href="<%= denunciar_comentar_path(comentarios_disciplina)%>" class="rodape red-text "> <b> Denunciar</b>  </a>
                  </div>      
                  </div>  
               </div>   
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                  <%=  comentarios_disciplina.comentario%>
            </div>
      
      </div>
    </div>
   
 
    <% next if not comentarios_disciplina.nil? %>
     <div class="row">
    <div class="col s12 m6 lg6">
      
              
      <div class="card">
            <div class="card-content">
               <span class="card-title activator grey-text text-darken-4"><%=  truncate(comentarios_disciplina.comentario, :length => 30)%><i class="material-icons right">more_vert</i></span>
               <div class= card-action>
                <div class="row">
                  <div class = "col">
                       <% curso = comentarios_disciplina.curso.split('-').first %>
                        <a href=""class="rodape black-text"><b>Curso:</b> <%=curso %></a>
                  </div> 
                   <div class = "col">
                        <a href=""class="rodape black-text"><b>Curso:</b> <%=comentarios_disciplina.professor %></a>
                  </div> 
                  <div class = "col"><a href=""class="rodape black-text"><b>Data:</b> <%= formato_data_hora(comentarios_disciplina.data_comentario) %></a></div> 
                  <div class = "col"><a href="<%= denunciar_comentar_path(comentarios_disciplina)%>" class="rodape red-text"> <b> Denunciar</b>  </a>
                  </div>      
                  </div>  
               </div>   
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                  <%=  comentarios_disciplina.comentario%>
            </div>
      
      </div>
    </div>
  
      </div>
    </div>

    <% next if not comentarios_disciplina.nil? %>
    
     <div class="row">
    <div class="col s12 m6 lg6">
      
      <div class="card">
          <div class="card-content black-text">
            <p><b><%=  truncate(comentarios_disciplina.comentario, :length => 60)%></b></p>
            <a href="<%= comentar_path(comentarios_disciplina.id) %>">Ler Mais</a> 
          </div>
          <div class="card-action">
            <div class = "row">
              <div class = "col s12 m6 lg6">
                <% curso = comentarios_disciplina.curso.split('-').first %>
                  <a href=""class="rodape black-text"><b>Curso:</b> <%=curso %></a>
              </div>    
            
              <div class = "col s12  m6 lg6">
                 <a href=""class="rodape"><b>Data:</b> <%= formato_data_hora(comentarios_disciplina.data_comentario) %></a>
               </div>
               <div class = "col s12  m12 lg12">
              <a href="<%= denunciar_comentar_path(comentarios_disciplina)%>" class="rodape red-text"> <b> Denunciar</b>  </a>
               </div>
          </div>
        </div>
      
   
  
      </div>
    </div>
<%end %>
 <% end %>
 
<div class="row">
  <div class="col s12 m6 lg6 offset-m3 offset-m4">
     <%= will_paginate @comentarios_disciplina %>
  </div>
</div> 



