<p id="notice"><%= notice %></p>
<% @comentarios_disciplina.each do |comentarios_disciplina| %>
  <div class="row">
      <div class="col s12 m6 lg6">
        <div class="card">
          <div class="card-content black-text">
            <p><b><%=  truncate(comentarios_disciplina.comentario, :length => 60)%></b></p>
            <a href="<%= comentar_path(comentarios_disciplina.id) %>">Ler Mais</a> 
          </div>
          <div class="card-action">
            <div class = "row">
              <div class = "col s12 m6 lg6">
                <% curso = comentarios_disciplina.curso.split('-').first %>
                  <a href=""class="rodape">Curso: <%=curso %></a>
              </div>    
              <div class = "col s12 m6 lg6">
                 <a href="" class="rodape">Usuario:<%= comentarios_disciplina.email %></a> 
              </div>
              <div class = "col s12  m6 lg6">
                 <a href=""class="rodape">Data: <%= formato_data_hora(comentarios_disciplina.data_comentario) %></a>
               </div>
               <div class = "col s12  m12 lg12">
              <a href="<%= denunciar_comentar_path(comentarios_disciplina)%>" class="rodape blue-text text-lighten-2"> <b> Denunciar</b>  </a>
               </div>
          </div>
        </div>
      </div>
    </div>
   
 
    <% next if not comentarios_disciplina.nil? %>
    <div class="row">
          <div class="col s12 m6 lg6">
        <div class="card">
          <div class="card-content black-text">
            <p><b><%=  truncate(comentarios_disciplina.comentario, :length => 60)%></b></p>
            <a href="<%= comentar_path(comentarios_disciplina.id) %>">Ler Mais</a> 
          </div>
          <div class="card-action">
            <div class = "row">
              <div class = "col s12 m6 lg6">
                <% curso = comentarios_disciplina.curso.split('-').first %>
                  <a href=""class="rodape">Curso: <%=curso %></a>
              </div>    
              <div class = "col s12 m6 lg6">
                 <a href="" class="rodape">Usuario:<%= comentarios_disciplina.email %></a> 
              </div>
              <div class = "col s12  m6 lg6">
                 <a href=""class="rodape">Data: <%= formato_data_hora(comentarios_disciplina.data_comentario) %></a>
               </div>
               <div class = "col s12  m12 lg12">
               <a href="<%= denunciar_comentar_path(comentarios_disciplina)%>" class="rodape blue-text text-lighten-2"> <b> Denunciar</b>  </a>
               </div>
          </div>
        </div>
      </div>
    </div>
   

    <% next if not comentarios_disciplina.nil? %>
    
  <div class="row">
        <div class="col s12 m6 lg6">
        <div class="card">
          <div class="card-content black-text">
            <p><b><%=  truncate(comentarios_disciplina.comentario, :length => 60)%></b></p>
            <a href="<%= comentar_path(comentarios_disciplina.id) %>">Ler Mais</a> 
          </div>
          <div class="card-action">
            <div class = "row">
              <div class = "col s12 m6 lg6">
                <% curso = comentarios_disciplina.curso.split('-').first %>
                  <a href=""class="rodape">Curso: <%=curso %></a>
              </div>    
              <div class = "col s12 m6 lg6">
                 <a href="" class="rodape">Usuario:<%= comentarios_disciplina.email %></a> 
              </div>
              <div class = "col s12  m6 lg6">
                 <a href=""class="rodape">Data: <%= formato_data_hora(comentarios_disciplina.data_comentario) %></a>
               </div>
               <div class = "col s12  m12 lg12">
                 <a href="<%= denunciar_comentar_path(comentarios_disciplina)%>" class="rodape blue-text text-lighten-2"> <b> Denunciar</b>  </a>
               </div>
          </div>
        </div>
      </div>
    </div>
<%end %>
 
<div class="row">
  <div class="col s12 m6 lg6 offset-m3 offset-m4">
     <%= will_paginate @comentarios_disciplina %>
  </div>
</div> 



