
<% require 'time'%>

<%= form_for(avaliacaoprof) do |f| %>
  <% if avaliacaoprof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(avaliacaoprof.errors.count, "error") %> prohibited this avaliacaoprof from being saved:</h2>

      <ul>
      <% avaliacaoprof.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="row">
    <div class="col s12 m8 lg8 offset-m2">
     
 <div class="card-panel ">
   <%= f.hidden_field:user_id,:value =>current_user.id %>
   <%= f.hidden_field:data_avaliacao,:value => DateTime.now %>
   <%= f.hidden_field:semestre_id,:value =>1 %>  


   <div class="row">
     <div class="col s12 m6 lg6"><b><%= f.label :professor_id, "Professor" %></b></div>
     <div class="col s12 m12 lg12"> <%=collection_select(:avaliacaoprof, :professor_id, @professor, :id, :nome, {:prompt => '' }, { class: 'js-searchable' })%></div>
   </div>
    
   <div class="row">       
     <div class="col s12 m12 lg12"><label><b>Possui domínio do conteúdo?</b></label> </div>
     <div class="col s3 m2 lg2"><label> <%= f.radio_button :dominio_conteudo, value:1, id:"1", name:"1" %> <span> <i class="fas fa-thumbs-up fa-2x"></i> </span> </label>  </div>
     <div class="col s3 m2 lg2"><label> <%= f.radio_button :dominio_conteudo, value:2, id:"2",name:"1" %> <span> <i class="fas fa-thumbs-down fa-2x"></i> </span> </label> </div>
   </div>  
  
   <div class="row">          
     <div class="col s12 m12 lg12"> <label><b>Se relaciona bem com os alunos?</b></label> </div>
     <div class="col s3 m2 lg2"><label> <%= f.radio_button :relacionamento_alunos, value:1, id:"3", name:"2" %> <span> <i class="fas fa-thumbs-up fa-2x"></i> </span> </label>  </div>
     <div class="col s3 m2 lg2"><label> <%= f.radio_button :relacionamento_alunos, value:2, id:"4",name:"2" %> <span> <i class="fas fa-thumbs-down fa-2x"></i> </span> </label> </div>
  </div > 
  
   <div class="row">    
     <div class="col s12 m12 lg12">  <label><b>Possui boa didática? ?</b></label> </div>
     <div class="col s3 m2 lg2"> <label> <%= f.radio_button :possui_didatica, value:1, id:"5", name:"3" %> <span> <i class="fas fa-thumbs-up fa-2x"></i> </span> </label></div>
     <div class="col s3 m2 lg2"> <label> <%= f.radio_button :possui_didatica, value:2, id:"6",name:"3" %> <span> <i class="fas fa-thumbs-down fa-2x"></i> </span> </label></div>
  </div>  
  
   <div class="row">        
   <div class="col s12 m12 lg12"><label><b> Gostaria de adicionar alguma tag?</b></label>  </div>  
   </div>
   <div class="row">    
    <div class="col s12 m12 lg12">
     <% @tag = Tag.all 
       
      @tag.each do |tag| %>
        <div class="col "> 
          <div class="chip" id=<%=tag.id.to_s%> >
           <%=tag.tag%>
         
           </div>
         </div>
      
      <%end%>
      </div>
   </div>
  
  
 <div class="row">         
   <div class="col s12 m12 lg12"> <label><b> Recomendaria esse professor? </b></label>  </div>
  <div class="col s12 m6 lg6">  <%= f.range_field(:recomendaria_professor, in: 1..5, id:'test5', class:'range-field') %> </div>
  </div>  

 <br>
  
  <div class="row">         
    <%= f.submit "Avaliar", class: 'btn waves-effect waves-light light-blue btn-small white-text'%>  </div>  
  </div>  
<% end %>

</div>
</div>
</div>

<script>
      $(".chip").click(function(e){
        e.preventDefault()
        $(this).css({"background":"green"})
        $(this).append('<input type="hidden" name="tags[]" value="'+$(this).attr('id')+'">')
      });
      
      $(".js-searchable").select2({
         placeholder: 'Informe o Professor',
         allowClear: true,
         width:'100%',
         tags: "true"
     });
     


</script>


<style>
.noUi-connect {
	background: purple;
}
.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
	background: purple;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
	background-color: purple;
}

/**** Custom styles for Range ****/
input[type=range]::-webkit-slider-thumb {
  background-color: skyblue;
}
input[type=range]::-moz-range-thumb {
  background-color: skyblue;
}
input[type=range]::-ms-thumb {
  background-color: skyblue;
}
/* For the globe and the text inside */
input[type=range] + .thumb {
  background-color: blue;
}
input[type=range] + .thumb.active .value {
  color: #fff;
}
</style>









