
<% require 'time'%>

<%= form_for(avaliacaoprof) do |f| %>
  <% if avaliacaoprof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(avaliacaoprof.errors.count, "error") %> prohibited this avaliacaoprof from being saved:</h2>

      <ul>
      <% avaliacaoprof.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="row">
    <div class="col s12 m8 lg8 offset-m2">
     
 <div class="card-panel ">
 
   <%@usuarios = Usuario.where("username=:username",{username:current_user.username}).all
    user_id=0
    @usuarios.each do |usuario| 
    user_id = usuario.id%>
     <%= f.hidden_field:user_id,:value =>user_id %>  
   <%end%> 
   <%= f.hidden_field:data_avaliacao,:value => DateTime.now %>
   <div class="row">
     <div class="col s12 m6 lg6"><b><%= f.label :professor_id, "Professor" %></b></div>
     <div class="col s12 m12 lg12"> <%=collection_select(:avaliacaoprof, :professor_id, @professor, :id, :nome, {:prompt => '' }, { class: 'js-searchable' })%></div>
   </div>
   
   <div class="row">
     <div class="col s12 m6 lg6"><b><%= f.label :disciplinacurso_id, "Disciplina" %></b></div>
     <div class="col s12 m12 lg12"> <%=collection_select(:avaliacaoprof, :disciplinacurso_id, @disciplinacurso, :id, :nome, {:prompt => '' }, { class: 'js-searchable2' })%></div>
   </div>

   <div class="row">
     <div class="col s12 m6 lg6"><b><%= f.label :semestre_id, "Semestre" %></b></div>
     <div class="col s12 m12 lg12"> <%=collection_select(:avaliacaoprof, :semestre_id, @semestre, :id, :semestre, {:prompt => '' }, { class: 'js-searchable3' })%></div>
   </div>
    
    <div class="row">     
        <div class="col s12 m12 lg12 grey-text"> <b>Possui domínio do conteúdo?</b> </div>
        <div class="col s3 m2 lg2"><label ><%= f.radio_button :dominio_conteudo, 1, id:"1"%> <span><i class="fas fa-thumbs-up fa-2x"></span></i></label></div>
        <div class="col s3 m2 lg2"><label><%= f.radio_button :dominio_conteudo, 2, id:"2" %> <span><i class="fas fa-thumbs-down fa-2x"></span></i></label></div>
    </div> 
    
    
    <div class="row">     
        <div class="col s12 m12 lg12 grey-text"> <b>Se relaciona bem com os alunos?</b> </div>
        <div class="col s3 m2 lg2"><label ><%= f.radio_button :relacionamento_alunos, 1, id:"3"%> <span><i class="fas fa-thumbs-up fa-2x"></span></i></label></div>
        <div class="col s3 m2 lg2"><label><%= f.radio_button :relacionamento_alunos, 2, id:"4" %> <span><i class="fas fa-thumbs-down fa-2x"></span></i></label></div>
    </div>
    
    <div class="row">     
        <div class="col s12 m12 lg12 grey-text"> <b>Possui boa didática?</b> </div>
        <div class="col s3 m2 lg2"><label ><%= f.radio_button :possui_didatica, 1, id:"5"%> <span><i class="fas fa-thumbs-up fa-2x"></span></i></label></div>
        <div class="col s3 m2 lg2"><label><%= f.radio_button :possui_didatica, 2, id:"6" %> <span><i class="fas fa-thumbs-down fa-2x"></span></i></label></div>
    </div>
     
  <br>
  
   <div class="row">        
   <div class="col s12 m12 lg12"><label><b> Gostaria de adicionar alguma tag?</b></label>  </div>  
   </div>
   <div class="row">    
    <div class="col s12 m12 lg12">
     <% @tag = Tag.all 
       
      @tag.each do |tag| %>
        <div class="col"> 
          <div class="chip" id=<%=tag.id.to_s%>  data-tag="<%=tag.tag%>" >
                    <%=tag.tag%>
           </div>
         </div>
      <%end%>
      </div>
   </div>
  
 <br>
 <div class="row">         
   <div class="col s12 m12 lg12"> <label><b> Recomendaria esse professor? </b></label>  </div>
   <span class="tooltip"></span>
  <div class="col s12 m6 lg6">  <%= f.range_field(:recomendaria_professor, in: 1..5, id:'test5', class:'range-slider' ) %> </div>
 


 </div>  

 <br>
  
 <div class="row">         
    <%= f.submit "Avaliar", class: 'btn waves-effect waves-light light-blue btn-small white-text'%>  </div>  
 </div>  
<% end %>

</div>
</div>
</div>

<script>
      $(".chip").click(function(e){
        e.preventDefault()
        
        var existe_componente = document.getElementsByName('tags[]').length;
        if (existe_componente > 0){
            
            var nome  = $(this).attr('id');
            var achou = false;
            
             $.each($('input.taghidden'),function(i, field) {
              if($(this).attr("type")=="hidden") {
   
                if(field.value==nome){
                    achou = true;}
              }         
            });
            
             if (achou==false) { 
                  $(this).css({"background":"green"})
                  $(this).append('<input type="hidden" class="taghidden" id="tag'+$(this).attr('id')+'" name="tags[]" value="'+$(this).attr('id')+'">') }
            else{
                  $(this).css({"background":"#d3d3d3"})  
                  var id ="tag"+ $(this).attr('id');
                  var j = document.getElementById(id);
                  j.remove();
            }  

        }else{
                $(this).css({"background":"green"})
                $(this).append('<input type="hidden" class="taghidden" id="tag'+$(this).attr('id')+'" name="tags[]" value="'+$(this).attr('id')+'">')
        }
      
      });


      $(".js-searchable").select2({
         placeholder: 'Informe o Professor',
         allowClear: true,
         width:'100%',
         tags: "true"
     });
     
     
      $(".js-searchable2").select2({
         placeholder: 'Informe o Disciplina',
         allowClear: true,
         width:'100%',
         tags: "true"
     });
     
     
      $(".js-searchable3").select2({
         placeholder: 'Informe o Semestre',
         allowClear: true,
         width:'100%',
         tags: "true"
     });
     
     
     
     
</script>


<script>
   var slider = document.getElementById('range-slider');
   noUiSlider.create(slider, {
   start: [1, 5],
   connect: true,
   tooltips: [false, wNumb({decimals: 1}), true],
   step: 1,
   range: {
     'min': 1,
     'max': 5
   },
    format: wNumb({
        decimals: 0
    })
    
    

   });
   
   

}
</script>
<style>

.chip {
cursor:pointer;
}
</style>












