
<p id="notice"><%= notice %></p>

<div class="container">

   <% @avaliacaoprofs.each do |avaliacaoprof| %>
   
   <div class= "card">
      
      <div class="row">
        <br>
        <div class="col s10 m10 lg10 "><b>Professor:</b> <%= avaliacaoprof.professor.nome %> </div>
        <div class="col s2 m2 lg2 "> <b>Ano:</b> <%=avaliacaoprof.semestre.ano %>.<%=avaliacaoprof.semestre.codigo %> </div>
      </div>
      
      <div class="row">
        <div class="col s6 m6 lg6"><b>Data:</b> <%= avaliacaoprof.data_avaliacao  %></b> </div>
       
           <div class="col s6 offset-s9 m2 offset-m10 lg2 offset-lg6">
                <div>  
                    <%= link_to avaliacaoprof,:confirm => "Você tem ceretza?", :method => :delete, class:' '  do %>
                       <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Deletar" >delete</i> 
                    <%end%>
                     <%= link_to edit_avaliacaoprof_path(avaliacaoprof),class:'' do %>
                      <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Editar">edit</i>  
                    <%end%>
           </div>
        </div>
      </div>
      
   </div>
   <% end %>
</div>  
  
   
<script>
$('.tooltipped').tooltip();
</script>