
<div class="container">
  <% if @avaliacaoprofs.empty? then %> 
    <div class="row">
      <br>
       <h5><div class="col s8 m8 lg8 offset-m2 "><b>Não Existem Avaliações!</b></div></h5>
     </div>
   <%else%>    

   <% @avaliacaoprofs.each do |avaliacaoprof| %>
   
   <div class= "card">
      
      <div class="row">
        <br>
        <div class="col s10 m9 lg9 "><b>Professor:</b> <%= avaliacaoprof.professor.nome %> </div>
        <div class="col s12 m2 lg2 "> <b>Ano:</b> <%=avaliacaoprof.semestre.ano %>.<%=avaliacaoprof.semestre.codigo %> </div>
      </div>
      <div class="row">
        <div class="col s10 m9 lg9 "><b>Disciplina:</b> <%= avaliacaoprof.disciplinacurso.disciplina.nome %> </div>
      </div>
      <div class="row">
        <div class="col s6 m6 lg6"><b>Data:</b> <%= formato_data_hora(avaliacaoprof.data_avaliacao)%></b> </div>
       
           <div class="col s6 offset-s9 m2 offset-m10 lg2 offset-lg6">
                <div>  
                    <!-- <%= link_to avaliacaoprof,:confirm => "Você tem ceretza?", :method => :delete, class:' '  do %>
                       <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Deletar" >delete</i> 
                    <%end%>
                     <%= link_to edit_avaliacaoprof_path(avaliacaoprof),class:'' do %>
                      <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Editar">edit</i>  
                    <%end%> -->
                    
                     <%= link_to avaliacaoprof_path(avaliacaoprof),class:'' do %>
                      <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Mostrar">details</i>  
                    <%end%>
           </div>
        </div>
      </div>
      
   </div>
   <% end %>
 <% end %>
  <div class="row">
      <div class="col s10 m6 lg6 offset-s2 offset-lg3 offset-m4">
         <%= will_paginate @avaliacaoprofs %>
      </div>
  </div> 
  
</div>  
  
   
<script>
$('.tooltipped').tooltip();
</script>